In [65]:
import pandas as pd

In [66]:
new_df = pd.read_csv('Resources/autos_raw.csv')
new_df.head()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [67]:
new_df = new_df.drop(['abtest','index','offerType','monthOfRegistration',
                     'notRepairedDamage','nrOfPictures','postalCode',
                      'dateCreated','powerPS','seller','gearbox'], axis = 1)

new_df.head()

,dateCrawled,name,price,vehicleType,yearOfRegistration,model,kilometer,fuelType,brand,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,480,NaN,1993,golf,150000,benzin,volkswagen,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,18300,coupe,2011,NaN,125000,diesel,audi,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",9800,suv,2004,grand,125000,diesel,jeep,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,1500,kleinwagen,2001,golf,150000,benzin,volkswagen,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,fabia,90000,diesel,skoda,2016-04-06 10:17:21

In [68]:
new_df.shape

(371528, 10)

In [69]:
new_df = new_df.replace('', 'NaN')
new_df = new_df.replace(' ', 'NaN')
new_df = new_df.dropna().reset_index(drop=True)
new_df.shape

(307122, 10)

In [70]:
new_df

,dateCrawled,name,price,vehicleType,yearOfRegistration,model,kilometer,fuelType,brand,lastSeen
0,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",9800,suv,2004,grand,125000,diesel,jeep,2016-04-05 12:47:46
1,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,1500,kleinwagen,2001,golf,150000,benzin,volkswagen,2016-03-17 17:40:17
2,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,fabia,90000,diesel,skoda,2016-04-06 10:17:21
3,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650,limousine,1995,3er,150000,benzin,bmw,2016-04-06 19:17:07
4,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,2_reihe,150000,benzin,peugeot,2016-04-05 18:18:39
...,...,...,...,...,...,...,...,...,...,...
307117,2016-03-27 20:36:20,Opel_Zafira_1.6_Elegance_TÜV_12/16,1150,bus,2000,zafira,150000,benzin,opel,2016-03-29 10:17:23
307118,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,fortwo,125000,benzin,smart,2016-03-11 18:17:12
307119,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,bus,1996,transporter,150000,diesel,volkswagen,2016-04-07 07:15:26
307120,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,3400,kombi,2002,golf,150000,diesel,volkswagen,2016-03-24 12:45:21
307121,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,limousine,2013,m_reihe,50000,benzin,bmw,2016-03-22 03:17:10

In [71]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307122 entries, 0 to 307121
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dateCrawled         307122 non-null  object
 1   name                307122 non-null  object
 2   price               307122 non-null  int64
 3   vehicleType         307122 non-null  object
 4   yearOfRegistration  307122 non-null  int64
 5   model               307122 non-null  object
 6   kilometer           307122 non-null  int64
 7   fuelType            307122 non-null  object
 8   brand               307122 non-null  object
 9   lastSeen            307122 non-null  object
dtypes: int64(3), object(7)
memory usage: 23.4+ MB

In [72]:
new_df['dateCrawled'] = pd.to_datetime(new_df['dateCrawled'])
new_df['lastSeen'] = pd.to_datetime(new_df['lastSeen'])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307122 entries, 0 to 307121
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dateCrawled         307122 non-null  datetime64[ns]
 1   name                307122 non-null  object
 2   price               307122 non-null  int64
 3   vehicleType         307122 non-null  object
 4   yearOfRegistration  307122 non-null  int64
 5   model               307122 non-null  object
 6   kilometer           307122 non-null  int64
 7   fuelType            307122 non-null  object
 8   brand               307122 non-null  object
 9   lastSeen            307122 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 23.4+ MB

In [73]:
new_df

,dateCrawled,name,price,vehicleType,yearOfRegistration,model,kilometer,fuelType,brand,lastSeen
0,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",9800,suv,2004,grand,125000,diesel,jeep,2016-04-05 12:47:46
1,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,1500,kleinwagen,2001,golf,150000,benzin,volkswagen,2016-03-17 17:40:17
2,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,3600,kleinwagen,2008,fabia,90000,diesel,skoda,2016-04-06 10:17:21
3,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,650,limousine,1995,3er,150000,benzin,bmw,2016-04-06 19:17:07
4,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,2200,cabrio,2004,2_reihe,150000,benzin,peugeot,2016-04-05 18:18:39
...,...,...,...,...,...,...,...,...,...,...
307117,2016-03-27 20:36:20,Opel_Zafira_1.6_Elegance_TÜV_12/16,1150,bus,2000,zafira,150000,benzin,opel,2016-03-29 10:17:23
307118,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,1199,cabrio,2000,fortwo,125000,benzin,smart,2016-03-11 18:17:12
307119,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,bus,1996,transporter,150000,diesel,volkswagen,2016-04-07 07:15:26
307120,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,3400,kombi,2002,golf,150000,diesel,volkswagen,2016-03-24 12:45:21
307121,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,limousine,2013,m_reihe,50000,benzin,bmw,2016-03-22 03:17:10

In [74]:
new_df.to_csv('Resources/cleaned_df.csv',index = False)